/* style.css */

body {
    background-color: #e1bebe;
    font-family: 'Roboto Slab', serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    flex: 1;
    margin-right: 20px;
}

a {
    background-color: #eba1a1;
    display: block;
    outline: #c96b6b solid 4px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d59393;
    text-align: center;
    outline: #c96b6b solid 4px;
}